awscli==1.25
dvc==1.11
editdistance==0.6
fastapi==0.82
gensim==4.2
great-expectations==0.15
httptools==0.4
matplotlib==3.5
mlflow==1.28.0
nrclex==4.0
pip-chill==1.0
plotly==5.10
pytest==7.1
python-dotenv==0.21
pytorch-lightning==1.7
shap==0.41
sklearn==1.1
torchvision==0.13
transformers==4.21
sentencepiece==0.1
shap==0.41
uvicorn==0.18
uvloop==0.16
vadersentiment==3.3
watchgod==2.1
websockets==10.3
